<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
<!--        android:theme="@style/Theme.HyperPods">-->

        <!-- Set as Xposed Module -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <!-- Set your Xposed Module description -->
        <meta-data
            android:name="xposeddescription"
            android:value="Apple AirPods Support for Xiaomi HyperOS." />

        <!-- The minimum Xposed version number -->
        <!-- If you are using EdXposed/LSPosed, the minimum recommended is 93 -->
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>

</manifest>